{% extends "base.html" %}

{% block title %}{{ post.title }} | Beauty Salon{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <!-- 記事ヘッダー -->
            <div class="post-header text-center mb-5">
                <span class="post-category">ブログ</span>
                <h1 class="post-title">{{ post.title }}</h1>
                <div class="post-meta">
                    <span class="post-date">{{ post.date }}</span>
                </div>
            </div>
            
            <!-- メイン画像 -->
            <div class="post-featured-image mb-4">
                <img src="{{ url_for('uploaded_file', filename=image_filename) }}" alt="{{ post.title }}" class="img-fluid rounded">
            </div>
            
            <!-- 記事本文 -->
            <div class="post-content">
                {{ post.content|markdown }}
            </div>
            
            <!-- シェアボタン -->
            <div class="share-buttons mt-5 text-center">
                <p class="mb-3">この記事をシェアする</p>
                <div class="d-flex justify-content-center">
                    <a href="#" class="btn btn-outline-primary mx-2">
                        <i class="share-icon">📱</i> LINE
                    </a>
                    <a href="#" class="btn btn-outline-primary mx-2">
                        <i class="share-icon">🐦</i> Twitter
                    </a>
                    <a href="#" class="btn btn-outline-primary mx-2">
                        <i class="share-icon">📘</i> Facebook
                    </a>
                </div>
            </div>
            
            <!-- 前後の記事ナビゲーション -->
            <div class="post-navigation mt-5 pt-4 border-top">
                <div class="row">
                    <div class="col-6 text-start">
                        <a href="#" class="post-nav-link previous">
                            <span class="post-nav-label">前の記事</span>
                        </a>
                    </div>
                    <div class="col-6 text-end">
                        <a href="#" class="post-nav-link next">
                            <span class="post-nav-label">次の記事</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}